body html{
    margin: auto;
    padding: 0;
    height: 100%;
}
.container{
    width: 600px;
    margin: auto;
    padding: 100px 50px 0px 0px;
}
.logo{
    float: left;
    width: 300px;
    background-color: #038f03;
    box-shadow:-2px 5px 5px;
}
.form-lite{
    float: right;
    width: 300px;
    background-color:#f5f3f3;
    box-shadow:2px 5px 5px;
}
img{
    width: 200px;
    padding: 50px 50px 50px;
}
form{
    margin: -20px 5px;
    padding: 50px 50px 43px;
}
form, input{
    margin-bottom: 20px;
    border-radius: 4px;
}
input[type="text"],
input[type="password"] {
    border: 1px solid gray;
    width: auto;
    height: 25px;
}
button{
    background-color: #017728;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    margin-left: 40px;
    color: white;
}
button:hover{
    background-color: #038f03;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    margin: 70px 80px 0px;
}